USE [master]
GO
/****** Object:  Database [DairyFarm]    Script Date: 25/05/2022 14:02:33 ******/
CREATE DATABASE [DairyFarm]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DairyFarm', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DairyFarm.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DairyFarm_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DairyFarm_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DairyFarm].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DairyFarm]
GO
/****** Object:  Table [dbo].[BreedTbl]    Script Date: 25/05/2022 14:02:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BreedTbl](
	[BrId] [int] IDENTITY(2000,1) NOT NULL,
	[HeatDate] [date] NOT NULL,
	[BreedDate] [date] NOT NULL,
	[CowId] [int] NOT NULL,
	[CowName] [varchar](50) NOT NULL,
	[PregDate] [date] NOT NULL,
	[ExpDateCalve] [date] NOT NULL,
	[DateCalved] [date] NOT NULL,
	[CowAge] [int] NOT NULL,
	[Remarks] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BrId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CowTbl]    Script Date: 25/05/2022 14:02:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CowTbl](
	[CowId] [int] IDENTITY(1000,1) NOT NULL,
	[CowName] [varchar](50) NOT NULL,
	[EarTag] [varchar](50) NOT NULL,
	[Color] [varchar](50) NOT NULL,
	[Breed] [varchar](50) NOT NULL,
	[Age] [int] NOT NULL,
	[WeightAtBirth] [int] NOT NULL,
	[Pasture] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeTbl]    Script Date: 25/05/2022 14:02:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeTbl](
	[EmpId] [int] IDENTITY(300,1) NOT NULL,
	[EmpName] [varchar](50) NOT NULL,
	[EmpDob] [date] NOT NULL,
	[Gender] [varchar](50) NOT NULL,
	[Phone] [varchar](50) NOT NULL,
	[Address] [varchar](50) NOT NULL,
	[EmpPass] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[EmpId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExpenditureTbl]    Script Date: 25/05/2022 14:02:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExpenditureTbl](
	[ExpId] [int] IDENTITY(1,1) NOT NULL,
	[ExpDate] [date] NOT NULL,
	[ExpPurpose] [varchar](50) NOT NULL,
	[ExpAmount] [int] NOT NULL,
	[EmpId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ExpId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HealthTbl]    Script Date: 25/05/2022 14:02:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HealthTbl](
	[RepId] [int] IDENTITY(500,1) NOT NULL,
	[CowId] [int] NOT NULL,
	[CowName] [varchar](50) NOT NULL,
	[RepDate] [date] NOT NULL,
	[Event] [varchar](50) NOT NULL,
	[Diagnosis] [varchar](50) NOT NULL,
	[Treatment] [varchar](50) NOT NULL,
	[Cost] [int] NOT NULL,
	[VetName] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RepId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IncomeTbl]    Script Date: 25/05/2022 14:02:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IncomeTbl](
	[IncId] [int] IDENTITY(1,1) NOT NULL,
	[IncDate] [date] NOT NULL,
	[IncPurpose] [varchar](50) NOT NULL,
	[IncAmt] [int] NOT NULL,
	[EmpId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IncId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MilkTbl]    Script Date: 25/05/2022 14:02:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MilkTbl](
	[MId] [int] IDENTITY(1,1) NOT NULL,
	[CowId] [int] NOT NULL,
	[CowName] [varchar](50) NOT NULL,
	[AmMilk] [int] NOT NULL,
	[NoonMilk] [int] NOT NULL,
	[PmMilk] [int] NOT NULL,
	[TotalMilk] [int] NOT NULL,
	[DateProd] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SalesTbl]    Script Date: 25/05/2022 14:02:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalesTbl](
	[SId] [int] IDENTITY(1,1) NOT NULL,
	[Date] [date] NOT NULL,
	[Uprice] [int] NOT NULL,
	[ClientName] [varchar](50) NOT NULL,
	[ClientPhone] [varchar](50) NOT NULL,
	[EmpId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Amount] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
